
<table class='table-hover table-bordered'>
<thead>
<tr>
    <th>CRN</th>
    <th>Course</th>
    <th>Title</th>
    <th>Campus</th>
    <th>Credits</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Days</th>
    <th>Time</th>
    <th>Location</th>
    <th>Instructor</th>
</tr>
</thead>
<tbody>
<% current_user.s_classes.each do |course|%>
  <tr>
    <td><%= course.CRN %></td>
    <td><%= course.Course %></td>
    <td><%= course.Title %></td>
    <td><%= course.Campus %></td>
    <td><%= course.Credits %></td>
    <td><%= course.StartDate %></td>
    <td><%= course.EndDate %></td>
    <td><%= course.Days %></td>
    <td><%= course.Time %></td>
    <td><%= course.Location %></td>
    <td><%= course.Instructor %></td>
  </tr>
<% end %>
