
<h1>Class List</h1>

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Convergence" />
<table id="stuclasses" class="classData" style="width:1300px">
<thead>
  <tr class="classHeader">
    <th>Open</th>
    <th>CRN</th>
    <th>Code</th>
    <th>Class<br>Num</th>
    <th>Name</th>
    <th>Term</th>
    <th>Cred<br>HRS</th>
    <th>Open<br>Seats</th>
    <th>Total<br> Seats</th>
    <th>Days</th>
    <th>Time</th>
    <th>Location</th>
    <th>Professor</th>

  </tr>
</thead>
<tbody>
  <% SClass.all.each do |sclass| %>


      <% if sclass.open == "Closed" %>
        <tr class="danger">
      <% else %>
        <tr class="success">
      <% end %>
      <td><%= sclass.open  %></td>
      <td><%= sclass.CRN %></td>
      <td><%= sclass.course_code %></td>
      <td><%= sclass.course_num %></td>
      <td><%= sclass.Title %>
        <% if sclass.lab_time %>
          <br>
          <br>
          Lab</td>
      <% else %>
      </td>
      <%end %>
      <td><%= sclass.term %></td>
      <td><%= sclass.Credits %></td>
      <td><%= sclass.open_seats %></td>
      <td><%= sclass.tot_seats %></td>
      <td><%= sclass.Days %>
      <% if sclass.lab_day %>
      <br>
      <br>
        <%= sclass.lab_day%></td>
      <% else %>
        </td>
      <% end %>
      <td><%= sclass.Time%>
      <% if sclass.lab_time %>
      <br>
       <br>
      <%= sclass.lab_time%></td>
      <% else %>
      </td>
      <% end %>
      <td><%= sclass.Location %>
      <% if sclass.lab_loc %>
      <br>
       <br>
      <%= sclass.lab_loc %></td>
    <% else %>
      </td>
    <% end %>
  <td><%= sclass.Instructor%>
    <% if sclass.loc_prof %>
    <br>
     <br>
    <%= sclass.loc_prof %></td>
    <% else %>
      </td>
    <% end %>
    </tr>
  <% end %>
</tbody>
</table>


