<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Rain Reader", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right nav-pills">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Help",   help_path %></li>

            <% if logged_in? %>
              <% if current_user.admin? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Users", users_path%></li>
                </ul>
              </li>
              <% end%>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user)%></li>
                  <li class="divider"></li>
                  <li><%= link_to "Log out", logout_path,method: "delete" %></li>
                </ul>
              </li>
              <% else %>
            <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <nav class="navbar-default">
       <ul class="nav  nav-pills nav-justified">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Schedule", root_path %></li>
          <li class="<%= 'active' if current_page?(help_path) %>"><%= link_to "Drop/Add Classes", '#' %></li>
          <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "List All Classes", '#' %></li>
        </ul>
    </nav>
